---
apiVersion: v1
kind: ConfigMap
metadata:
  name: quotes-producer-config
data:
  application.properties: |
    quarkus.otel.exporter.otlp.endpoint=http://otel-collector.observability.svc:4317
    quarkus.qpid-jms.url=amqp://amq-broker-amqp-0-svc:5672
    quarkus.pooled-jms.max-connections=1
    quarkus.pooled-jms.max-sessions-per-connection=500
---
apiVersion: v1
kind: Secret
metadata:
  name: quotes-producer-secret
stringData:
  application.properties: |
    quarkus.qpid-jms.username=quotes-producer
    quarkus.qpid-jms.password=openshift
type: Opaque
---
# Generate a ServiceMonitor resource for the quotes-producer service
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: quotes-producer
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: quotes-producer
      app.kubernetes.io/version: 1.0.0-SNAPSHOT 
  endpoints:
    - scheme: http
      targetPort: 9876
      path: /observe/metrics
      interval: 10s
      honorLabels: true